@{
    ViewBag.Title = "About Us";
}

<h1>About Us</h1>

<p>Hello! And welcome to the About Us page.</p>

<p>We are three students, Logan Arnett, Ahrrian Motakef, and Dhruman Patel from Cincinnati, OH.</p>

<p>All of us attend University of Cincinnati, and we are currently doing this for a project :p</p>

<p>Thank you for checking out our website, and we hope you enjoy it!</p>