@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Vending Machine Tracker!</h1>
    <p>Please select a list to view:</p>
    <div class="row">
        <div class="col-sm-6">
            <a href="@Url.Action("List", "Item")" class="btn btn-primary btn-lg btn-block">Item List</a>
        </div>
        <div class="col-sm-6">
            <a href="@Url.Action("List", "VendingMachine")" class="btn btn-primary btn-lg btn-block">Vending Machine List</a>
        </div>
    </div>
</div>
